
<div class="create-course-panel data-form">

  <h2 class="title">Create New Course</h2>

  <mat-stepper [linear]="false" class="mat-elevation-z5" labelPosition="bottom" >

     <!-- step 1 -->
     <!-- [stepControl]="step1.form"  and [linear]="true" -> controll all input form if some one is empty, is empty does open the step 2 -->
     <!-- if [linear]="false" the step not block, open -->
     <!-- if some one input are empty display error message -->
    <mat-step [stepControl]="step1.form" errorMessage="Landing page in error!">

      <ng-template matStepLabel> Course landing page details. </ng-template>

      <create-course-step-1 #step1></create-course-step-1>
 
      <div class="stepper-buttons">
         <button mat-raised-button color="primary" matStepperNext> Continue to Step 2 </button>
      </div>

    </mat-step>

    <mat-step errorMessage="Princing in error!">

      <create-course-step-2></create-course-step-2>

      <ng-template matStepLabel> Course pricing details. </ng-template>

      <div class="stepper-buttons">
        <button mat-raised-button matStepperPrevious> Back </button>
        <button mat-raised-button color="primary" matStepperNext> Continue to Step 3 </button>
     </div>

    </mat-step>

  </mat-stepper>

</div>


 